.nav-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: right;
}