.nav-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: right;
}

.taskly-logo {
    height: 35px;
    margin-left: 10px;
}

.create-task-btn {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    border: 2px solid darkgreen;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    color: darkgreen;
    transition: background-color 0.25s ease;
}

.create-task-btn:hover {
    background-color: darkgreen;
    color: white;
}

.signup-login-btn {
    height: 35px;
    width: 110px;
    border-radius: 15px;
    border: 2px solid darkgreen;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    color: darkgreen;
    transition: background-color 0.25s ease;
}

.signup-login-btn:hover {
    background-color: darkgreen;
    color: white;
}