.email-input, .password-input {
    border-radius: 10px;
    width: 225px;
    height: 30px;
    display: block;
    padding-left: 20px;
    margin-top: 10px
}

.login-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border: 1px solid black;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/83/500/871/waterfall-high-resolution-desktop-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    width: 350px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#login-btn {
    margin-bottom: 25px;
    margin-top: 10px;
    height: 45px;
    width: 350px;
    border-radius: 15px;
    border: 2px solid darkgreen;
    background-color: darkgreen;
    cursor: pointer;
    color: white;
    font-size: 15px;
    transition: background-color 0.25s ease;
}

#login-btn:hover {
    background-color: white;
    color: darkgreen;
}

.errors {
    font-size: 15px;
    color: red;
    background-color: white;
}

.email-input-outer, .password-input-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}