#logout-btn {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    border: 2px solid darkgreen;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    color: darkgreen;
    transition: background-color 0.25s ease;
}

#logout-btn:hover {
    background-color: darkgreen;
    color: white;
}