.task-price-ticket-icon {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.single-task-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(128, 128, 128, 0.3);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
    transition: background-color 0.25s ease;
}

.single-task-cards:hover {
    background-color: rgb(211, 211, 211, 0.3);
}

.all-tasks-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: none;
}

.task-img {
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
}

.task-price {
    margin-bottom: 10px;
}

.all-tasks-header {
    margin-left: 90px;
    margin-bottom: 10px;
    font-size: 22px;
}